.contact {
  text-align: center;
  margin-top: 5%;
}

.formEdit {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 20%;
  margin: 0 auto;
}

.formEdit label {
  font-weight: bold;
  font-size: 18px;
  display: block;
}

.formEdit input, .formEdit textarea {
  padding: 5px;
  font-size: 16px;
  border: 1px solid gray;
  border-radius: 5px;
}

.formEdit input:focus, .formEdit textarea:focus {
  outline: none;
}

.formEdit button {
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  border: 1px solid #000000;
}

.formEdit button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.formEdit button:hover {
  background-color: #00bb48;
}